<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>VueJS Tutorials</title>
    <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
</head>
<body>
    <div id="vue-app">
		<h1>Simulador de Parcelas</h1>
		<label>Valor:</label>
		<input type="text" v-model="val"/><!--picks input and puts in variable-->
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Parcelas</th>
              <th>Valor p/ Consumidor</th>
              <th>Taxa</th>
              <th>Val. Liquido</th>
              <th>Valor cobrado para est. receber R${{val}}</th>
              <th>Valor parcela para est. receber R${{val}}</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(plan, index) in plans">
              <td>1,001</td>
              <td>Lorem</td>
              <td>ipsum</td>
              <td>dolor</td>
              <td>sit</td>
            </tr>
          </tbody>
        </table>
			</div>
		</div>
    <script src="app.js"></script>
</body>
</html> 